*{
	padding: 0;
	margin: 0;
}

body{    
	background-image: url(../img/oscurop.jpg);                
	height: 900px;       
	width: 100%;
	background-size:cover;
}

header, section{
	padding: 4% ;
	;
}

button{
	background-color: rgba(150, 208, 212, .9);
	color: black;
	border: none;
	border-radius: 5%;
	padding: 1%;
	margin-top: 2%;

}

button:hover{
	background-color: rgb(150, 208, 212);
	border: none;
	
}

#tarea{
	font-weight: bold;
	font-size: 15px;
	color: white;
}

h4{
	background: rgba(150, 208, 212, .1);
	color: white;
	font-size: 40px;
	padding: 10px;
	border-radius: 7px;
}

h5{
	background: rgba(150, 208, 212, 0.1);
	color: white;
	padding: 10px;
	border-radius: 7px;


}

#checkear{
	color: white;


}

#completar{
	color: white;
}

#botoncito{
	float: right;
}



