*{
	padding: 0;
	margin: 0;
}

body{                    
	height: 700px;       
	width: 100%;
	background-size:cover;
}

header, section{
	padding: 4% ;
	;
}

#ingresar{
	font-weight: 900;
}

button{
	background-color: rgba(150, 208, 212, .9);
	color: black;
	border: none;
}

button:hover{
	background-color: rgb(150, 208, 212);
	border: none;
}




